</br>
  <a class="btn btn-dark" href="/videos/add">Add Video</a>
</br>
</br>

<div class="row">
  {{#each data}}
  <div class="col-md-4">
    <div class="card" >
      {{!-- <img class="card-img-top" src="{{video}}"> --}}
      <video height="240" controls>
        <source src="{{video}}" type="video/mp4">
      </video>
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/videos/{{videoID}}" class="btn btn-dark">{{videoID}}</a>
        <a href="/videos/delete/{{videoID}}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>

{{else}}
<div class="card" style="width: 18rem;">
  <h5 class="card-title">NO DATA FOUND</h5>
</div>
{{/each}}
</div>

</div>

</br>